<section class="featured-blog ">
    <h2 class="title-heading">Latest Articles</h2>
    <div class="container">
        <div class="grid-item">
            <img src="assets/images/img1.jpg" width="100px" height="150px" alt="blog1">
            <h3>The Garden of Happy Endings</h3>
            <p>by <span> Barbara O'Neal</span></p>
            <p>From Barbara O'Neal, beloved author of How to Bake a Perfect Life and The Lost Recipe for Happiness, comes another magical, heartfelt novel—perfect for fans of Kristin Hannah and Susan Wiggs.  After tragedy shatters her small community in Seattle, the Reverend Elsa Montgomery has a crisis of faith. Returning to her hometown of Pueblo, Colorado, she seeks work in a local soup kitchen. Preparing nourishing meals for folks in need, she keeps her hands busy while her heart searches for understanding.   Meanwhile, her sister, Tamsin, as pretty and colorful as Elsa is unadorned and steadfast, finds her perfect life shattered when she learns that her financier husband is a criminal. </p>
            <a href="#" class="btn btn-primary">Read more...</a>
        </div>
        
        <div class="grid-item">
            <img src="assets/images/img2.jpg" width="100px" height="150px" alt="blog1">
            <h3>A Minute to Smile</h3>
            <p>by <span>Ruth Wind</span></p>
            <p>How had single mother Esther Lucas become the fix-it lady? Bandaging her sons' scraped knees was one thing; hoping to heal a handsome widower's broken heart was quite another. But Alexander Stone brought out much more than just Esther's maternal instincts. And she knew that loving the tall, dark loner would make her need a fix-it person of her own .... Alexander Stone didn't know if he agreed with that old saying about having loved and lost--he just knew he'd never love again</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          
        </div> 
        <!-- //three equal columns -->
        <div class="grid-item">
          
            <img src="assets/images/img3.jpg" width="100px" height="150px" alt="post1">
            <h3>The Lightning Thief</h3>
            <p>by <span> Rick Riordan</span></p>
            <p>Alternate cover for this ISBN can be found here Percy Jackson is a good kid, but he can't seem to focus on his schoolwork or control his temper. And lately, being away at boarding school is only getting worse - Percy could have sworn his pre-algebra teacher turned into a monster and tried to kill him. When Percy's mom finds out, she knows it's time that he knew the truth about where he came from, and that he go to the one place he'll be safe. She sends Percy to Camp Half Blood, a summer camp for demigods (on Long Island), where he learns that the father he never knew is Poseidon, God of the Sea</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          
        </div>
        <div class="grid-item">
          
            <img src="assets/images/img4.jpg" width="100px" height="150px" alt="post2">
            <h3>Calypso</h3>
            <p>by <span>David Sedaris</span></p>
            <p>David Sedaris returns with his most deeply personal and darkly hilarious book.If you've ever laughed your way through David Sedaris's cheerfully misanthropic stories, you might think you know what you're getting with Calypso. You'd be wrong. When he buys a beach house on the Carolina coast, Sedaris envisions long, relaxing vacations spent playing board games and lounging in the sun with those he loves most. And life at the Sea Section, as he names the vacation home, is exactly as idyllic as he imagined, except for one tiny, vexing realization: it's impossible to take a vacation from yourself.With Calypso, Sedaris sets his formidable powers of observation toward middle age and mortality. Make no mistake: these stories are very, very funny--it's a book that can make you laugh 'til you snort, the way only family can. Sedaris's powers of observation have never been sharper, and his ability to shock readers into laughter unparalleled.</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          
        </div>
        <div class="grid-item">
          
            <img src="assets/images/img5.jpg" width="100px" height="150px" alt="post3">
            <h3>The Maid</h3>
            <p>by <span> Nita Prose</span></p>
            <p>Molly Gray is not like everyone else. She struggles with social skills and misreads the intentions of others. Her gran used to interpret the world for her, codifying it into simple rules that Molly could live by. Since Gran died a few months ago, twenty-five-year-old Molly has been navigating life's complexities all by herself. No matter—she throws herself with gusto into her work as a hotel maid. Her unique character, along with her obsessive love of cleaning and proper etiquette, make her an ideal fit for the job. She delights in donning her crisp uniform each morning, stocking her cart with miniature soaps and bottles, and returning guest rooms at the Regency Grand Hotel to a state of perfection. But Molly's orderly life is upended the day she enters the suite of the infamous and wealthy Charles Black, only to find it in a state of disarray and Mr. Black himself dead in his bed. </p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          
        </div>
        <div class="grid-item">
          
            <img src="assets/images/img6.jpg" width="100px" height="150px" alt="post4">
            <h3>These Tangled Vines</h3>
            <p>by <span>Julianne MacLean</span></p>
            <p>From the USA Today bestselling author of A Curve in the Road comes a sweeping and captivating tale of one woman’s journey to the lush vineyards of Tuscany—and into the mysteries of a tragic family secret. If Fiona has learned anything in life, it’s how to keep a secret—even from the father who raised her. She is the only person who knows about her late mother’s affair in Tuscany thirty years earlier, and she intends to keep it that way…until a lawyer calls with shocking news: her biological father has died and left her an incredible inheritance—along with two half siblings. Fiona travels to Italy, where the family is shocked to learn of her existence and desperate to contest her share of the will.</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          
        </div>
      
    </div>
  </section>
 
